@font-face {
    font-family: "Alex Brush", cursive;
    src: url(../fonts/AlexBrush-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/CormorantGaramond-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/CormorantGaramond-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/CormorantGaramond-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/PlayfairDisplay-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/PlayfairDisplay-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/Poppins-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}